# Helper files
__pycache__/
*.py[cod]
*$py.class
venv/

# Database
*.db
*.sqlite3
!clean.db.template

# Secrets
*.pem
*.key
.env

# Backups and Local Versions
backups/
versoes/
Vwercoes/
*.bak
*.zip

# User Content
uploads/
*.log
*.log.*

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/

# Build Artifacts
dist/
build/
*.spec
*.exe
installer_assets/
.venv/
_scripts_antigos/
